.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
}

.control {
    width: 50%;
}

form {
    width: 100%;
}

.control > input {
    border-bottom: 1px solid #0590CE;
    background: transparent;
    color: #ffffff !important;
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 52px;
    width: 100%;
    outline: none;
    padding-bottom: 0;
    font-family: "CircularAirPro-Book";
}

.control > label {
    margin-bottom: 10px;
}

.control.invalid input {
    border-color: #ff5656;
    border-bottom-width: 3px;
    color: #ff5656;
}

input {
    border: none;
}

.control button {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.captcha {
    width: 90%;
    max-width: 10rem;
    margin: 2rem auto;
    padding: 1rem;
}

div > button {
    margin-top: 15px;
}

.captcha {
    margin-top: 10px;
}

.vkeyboard {
    margin-top: 100px;
    z-index: 10;
}

@media (min-width: 768px) {
    .control {
        align-items: center;
        flex-direction: row;
    }

}
